table {
  height: 200px;
	width: 200px;
  border: solid 1px black;
}

tr td {
  height: 30px;
	width: 30px;
	border: 1px solid black;
	background: grey;
}
div {
  height: 40px;
	width: 60px
}
li {
  display: inline-block;
	list-style: none;
	font-size: 20px;
}
